### Text Data EDA

In [9]:
import pandas as pd
from nltk.tokenize import RegexpTokenizer

In [5]:
# set display options 
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', None)

In [6]:
# read in combined csv file
df = pd.read_csv('./data/combined.csv')

In [12]:
df.shape

(29928, 27)

#### Tokenizing title column

In [7]:
# inspect title column

df['title'].head(15)

0             REQUEST FOR INFORMATION - NEW DESIGN BOOKLET DIE CUTTING INSERT ASSEMBLY
1                                 Audiovisual Suite for Large Auditorium - Maxwell AFB
2                                                             Metrology Equipment Move
3                                                    INNER INFLATABLE ASSY (LPU-36A/P)
4                                                                           17--CRADLE
5                                                              43--FILTER ELEMENT,FLUI
6                                                              61--CABLE ASSEMBLY,SPEC
7                                                              30--GEAR SET,SPUR,MATCH
8                                                              53--NUT,SELF-LOCKING,EX
9                                            6640--Notice of Intent to Sole Source
10                                                         Residual Leukocyte Counters
11                                         FIRE DOOR LATCH ASSEMBLIES - USNS BRUNSWICK
12                                                             61--CABLE ASSEMBLY,SPEC
13                                                             43--FILTER ELEMENT,FLUI
14    G001--502-20-3-169-0017 BPA MORTUARY AFFAIRS UNCLAIMED VETERAN BURIAL SERVICE
Name: title, dtype: object

In [8]:
df['title'].tail(15)

29913                                                                                                                                                                                                             QUARTERLY REQUIREMENTS, BREAD, 2ND QTR., FY 2020
29914                                                                                                                                                                    R--Request for Quotation (RFQ) Certified Industrial Hygienist Air Quality Survey Services
29915                                                                                                                                                                                                                                           FITTING ASSY, FUEL
29916                                                                                                                                                                                                             Weapons and Systems Integration Support Services
29917                                                                                      AWARD A 1GB ETHERNET CONNECTION (RATE LIMIT TO 500MB) FROM 1 LINSLEY DR, PLAINVILLE, CT 06062 TO 77 GRAYLING AVENUE, NEW LONDON NAVAL SUBMARINE BASE, GROTON, CT 06349.
29918                                                                              Award of a 1 GB ETHERNET FROM (BLDG) 261; (RM) 211; (FL) 2ND; 2308 FLORIDA KEYS AVE, TAMPA, FL, 33621, US TO  (BLDG) 500; (RM) 703; (FL) 7; 500 EAST ZACK ST; TAMPA, FL, 33602.
29919                                                                                                                                                                                                                                 Dry Goods/Meats 2nd Qtr FY20
29920                                           SUBMIT A QUOTE TO PROVIDE, INSTALL, AND MAINTAIN A 1GB ETHERNET SERVICE AT (BLDG) 1415; (RM) BCO/TELCO; 7177 LANGLEY STREET, MILTON, FL 32570 AND BLDG 90215; DCO ROOM; 306 CODY AVENUE, HURLBURT FIELD, FL 32544.
29921                                                                                                                                                                                                                                 Purchase of Gearbox Assembly
29922    SUBMIT A QUOTE TO PROVIDE, INSTALL, AND MAINTAIN A 10GB ETHERNET OVER OTN (OTU-2) COMMERCIAL LEASE BETWEEN NAS JOINT RESERVE BASE NEW ORLEANS, 400 RUSSELL AVENUE, NEW ORLEANS, LA, 70143 AND 712 CHAPPIE JAMES AVENUE, KEESLER AIR FORCE BASE, MS 39534.
29923                                                                                                                                                                                                Remediation Services at the PR-58 Site in North Kingstown, RI
29924               SUBMIT A QUOTE TO PROVIDE, INSTALL, AND MAINTAIN A 10GBE (GIGABIT ETHERNET) OVER OTN (OTU-2) COMMERCIAL LEASE BETWEEN NAS JOINT RESERVE BASE NEW ORLEANS 400 RUSSELL AVENUE, NEW ORLEANS, LA, AND 3326 GENERAL HUDNELL DRIVE, SAN ANTONIO, TX.
29925                                 PROVIDE, INSTALL, AND MAINTAIN A 2.488GB (OC48C) BETWEEN BLDG 3782, RM174, FL: 1, 1000 CHIEFâ€™S WAY, CORRY STATION, PENSACOLA, FL  32511, AND BLDG 9357, RM 116, FL: 1, 8357 CYPRESS LOOP RD., STENNIS SPACE CENTER, MS 39529
29926                                                                                                                                                                                                        J--REPLACE VICTORIAN PARK LIGHT FIXTURES AT: SF Marit
29927                                                                                                                                                                                                                                                         COHO
Name: title, dtype: object

In [10]:
# define function to tokenize a column

def tokenizer_function(column):
    """
    Takes in a text column
        tokenizes the text in each row
        using pattern [[a-zA-Z]\w+]
        which matches every lowercase and upperase character between a-z that are word characters
    Returns list of strings
    """
    
    # instantiate empty list of tokenized text
    texts = []
    
    # instantiate tokenizer
    tokenizer = RegexpTokenizer('[a-zA-Z]\w+')
    
    # create for loop to tokenize each row and add the list of tokens to texts
    for text in column:
        tokens = tokenizer.tokenize(text)
        
        # transform tokens into lower case strings
        tokens = [token.lower() for token in tokens]
        texts.append(tokens)
    return pd.Series(texts)

In [11]:
# call tokenizer function on df['title']

tokenizer_function(df['title'])

0                                                                                                                                                                           [request, for, information, new, design, booklet, die, cutting, insert, assembly]
1                                                                                                                                                                                                  [audiovisual, suite, for, large, auditorium, maxwell, afb]
2                                                                                                                                                                                                                                [metrology, equipment, move]
3                                                                                                                                                                                                                              [inner, inflatable, assy, lpu]
4                                                                                                                                                                                                                                                    [cradle]
                                                                                                                                 ...
29923                                                                                                                                                                                    [remediation, services, at, the, pr, site, in, north, kingstown, ri]
29924    [submit, quote, to, provide, install, and, maintain, gbe, gigabit, ethernet, over, otn, otu, commercial, lease, between, nas, joint, reserve, base, new, orleans, russell, avenue, new, orleans, la, and, general, hudnell, drive, san, antonio, tx]
29925                                                                     [provide, install, and, maintain, gb, oc48c, between, bldg, rm174, fl, chief, way, corry, station, pensacola, fl, and, bldg, rm, fl, cypress, loop, rd, stennis, space, center, ms]
29926                                                                                                                                                                                              [replace, victorian, park, light, fixtures, at, sf, marit]
29927                                                                                                                                                                                                                                                  [coho]
Length: 29928, dtype: object